/* line 11, ../sass/variables.scss */
.border-top {
  border-top: 1px solid #ccc;
}

/* line 20, ../sass/variables.scss */
a {
  color: #08c;
}
/* line 23, ../sass/variables.scss */
a:hover {
  color: #333;
}

/* line 33, ../sass/variables.scss */
h1 {
  font-size: 2em;
}

/* line 33, ../sass/variables.scss */
h2 {
  font-size: 1.5em;
}

/* line 33, ../sass/variables.scss */
h3 {
  font-size: 1.2em;
}
